<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/css/style.css">
<h1>Welcome to Career Guidance Technologies</h1>
<p>Explore our platform to find the best colleges and courses for your career path.</p>
<ul>
  <li><a href="/auth/login">Login</a></li>
  <li><a href="/auth/register">Register</a></li>
  <li><a href="/college/list">View Colleges</a></li>
</ul> 