<h1>Select Location</h1>
<form action="/student/select-location" method="POST">
  <button type="submit" name="location" value="india">India</button>
  <button type="submit" name="location" value="abroad">Abroad</button>
</form> 